.main-header {
    background-color: $very-light-gray;
    background-image: image('bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.main-header__container {
    background-image: image('image-mockups.png');
    background-repeat: no-repeat;
    background-position: 50% -30%;
    background-size: 350px;
    padding-top: 370px;
    text-align: center;
    padding-bottom: 50px;

    .main-header__heading {
        font-size: 38px;
        line-height: 42px;
        font-weight: 500;
        color: $dark-blue;
    }

    .main-header__description {
        color: $grayish-blue;
        font-size: 16px;
        padding-block: 32px;
    }
}

@media(min-width: 1000px) {
    .main-header {
        background-image: image('image-mockups.png'), image('bg-intro-desktop.svg');
        background-size: 50%, 100%;
        background-position: 117% 50%,calc(50vw - 100px) 50%;

        .main-header__heading {
            font-size: 48px;
        }

        .main-header__description {
            font-size: 18px;
        }
    }

    .main-header__container {
        background-image: none;
        text-align: left;
        padding-block: 150px;
    }

    .main-header__heading, .main-header__description {
        max-width: 400px;
    }

    
}