@font-face {
  font-family: "Public Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Public Sans Light"), local("PublicSans-Light"), url("../fonts/public_sans_300.woff2") format("woff2"), url("../fonts/public_sans_300.woff") format("woff"); }

@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  font-style: normal;
  src: local("Public Sans Regular"), local("PublicSans-Regular"), url("../fonts/public_sans_400.woff2") format("woff2"), url("../fonts/public_sans_400.woff") format("woff"); }

@font-face {
  font-family: "Public Sans";
  font-weight: 700;
  font-style: normal;
  src: local("Public Sans Bold"), local("PublicSans-Bold"), url("../fonts/public_sans_700.woff2") format("woff2"), url("../fonts/public_sans_700.woff") format("woff"); }

body {
  margin: 0;
  font-family: "Public Sans", sans-serif; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

button {
  cursor: pointer; }

.icon {
  background-repeat: no-repeat;
  background-position: center; }

.request-invite {
  padding: 0.75rem 1.5rem;
  font-size: 18px;
  line-height: 24px;
  border-radius: 20px;
  background-image: linear-gradient(to left, #2bb7da, #31d35c);
  border: none;
  outline: none; }
  .request-invite a {
    color: white; }

.container {
  padding: 0 16px; }

h3 {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  color: #2d314d; }

@media (min-width: 1000px) {
  .section-articles {
    padding: 0; }
  .container {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0; } }

.header-site__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 16px; }
  .header-site__container .request-invite {
    display: none; }

.icon_menu {
  background-image: url("../images/icon-menu.svg");
  background-size: 24px 24px; }

.header-site__container label {
  width: 16px;
  height: 27px;
  display: block; }

@media (min-width: 1000px) {
  .header-site__container {
    align-items: center; }
  .header-site__container label {
    display: none; }
  .header-site__container .request-invite {
    display: block; } }

.header-site__menu {
  padding: 1rem;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;
  background-color: rgba(51, 51, 51, 0.5);
  width: 100vw;
  height: 100%;
  text-align: center; }
  .header-site__menu ul {
    background-color: white;
    width: 70%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    border-radius: 5px; }
  .header-site__menu a {
    font-weight: 400;
    color: #2d314d;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize; }

body > [type="checkbox"]:checked ~ header nav {
  transform: translateX(0%);
  z-index: 2;
  top: 100%;
  left: 0%; }

body > [type="checkbox"]:checked ~ main > header .container {
  background-image: none; }

#menu_checkbox {
  display: none; }

@media (min-width: 1000px) {
  .header-site__menu {
    padding: 0;
    position: relative;
    z-index: 3;
    top: 0;
    left: 0;
    bottom: 0;
    transform: none;
    transition: none;
    background-color: white;
    width: auto;
    height: auto;
    text-align: right; }
    .header-site__menu ul {
      width: auto;
      padding: 0;
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      border-radius: 0; }
    .header-site__menu a:hover {
      color: black;
      border-bottom: 2px solid #31d35c;
      font-size: 18px; } }

.main-header {
  background-color: #fafafa;
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%; }

.main-header__container {
  background-image: url("../images/image-mockups.png");
  background-repeat: no-repeat;
  background-position: 50% -30%;
  background-size: 350px;
  padding-top: 370px;
  text-align: center;
  padding-bottom: 50px; }
  .main-header__container .main-header__heading {
    font-size: 38px;
    line-height: 42px;
    font-weight: 500;
    color: #2d314d; }
  .main-header__container .main-header__description {
    color: #9698a6;
    font-size: 16px;
    padding-block: 32px; }

@media (min-width: 1000px) {
  .main-header {
    background-image: url("../images/image-mockups.png"), url("../images/bg-intro-desktop.svg");
    background-size: 50%, 100%;
    background-position: 117% 50%, calc(50vw - 100px) 50%; }
    .main-header .main-header__heading {
      font-size: 48px; }
    .main-header .main-header__description {
      font-size: 18px; }
  .main-header__container {
    background-image: none;
    text-align: left;
    padding-block: 150px; }
  .main-header__heading, .main-header__description {
    max-width: 400px; } }

.section-advertisement {
  background-color: #f3f4f6;
  padding-top: 50px;
  padding-bottom: 50px; }

.section-advertisement__header {
  text-align: center; }
  .section-advertisement__header .section-advertisement__header--description {
    color: #9698a6;
    font-size: 16px;
    padding-block: 16px; }

.reasons-list {
  display: flex;
  flex-direction: column; }
  .reasons-list h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 27px;
    padding-bottom: 1rem;
    color: #2d314d; }
  .reasons-list p {
    color: #9698a6; }
  .reasons-list li {
    padding-top: 150px;
    text-align: center;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: auto; }
  .reasons-list .online-banking {
    background-image: url("../images/icon-online.svg"); }
  .reasons-list .simple-budgeting {
    background-image: url("../images/icon-budgeting.svg"); }
  .reasons-list .fast-onboarding {
    background-image: url("../images/icon-onboarding.svg"); }
  .reasons-list .open-api {
    background-image: url("../images/icon-api.svg"); }

@media (min-width: 1000px) {
  .reasons-list {
    flex-direction: row;
    gap: 2rem; }
    .reasons-list li {
      text-align: left;
      background-position: 0% 20%; }
  .section-advertisement__header {
    text-align: left;
    max-width: 550px; } }

.section-articles {
  background-color: #fafafa;
  padding: 0 1rem;
  padding-bottom: 50px; }
  .section-articles .section-articles__header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 2rem; }

.articles-list {
  color: #9698a6; }
  .articles-list h5 a {
    color: #2d314d;
    font-weight: 500;
    font-size: 21px; }
    .articles-list h5 a:hover {
      color: #31d35c; }
  .articles-list article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    width: 100%;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 5px; }
    .articles-list article img {
      order: 1;
      width: 100%;
      height: 50%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .articles-list article .author {
      order: 2;
      padding: 0 1rem;
      font-size: 14px; }
    .articles-list article header {
      order: 3;
      padding: 0 1rem; }
    .articles-list article p {
      order: 4;
      padding: 0 1rem; }

@media (min-width: 1000px) {
  .articles-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center; }
    .articles-list article {
      max-width: 250px;
      height: 400px; } }

.footer-site {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #2d314d;
  color: white;
  text-align: center; }
  .footer-site a {
    color: white;
    font-weight: 300;
    font-size: 18px; }
    .footer-site a:hover {
      color: #31d35c; }
  .footer-site .request-invite a:hover {
    color: white; }
  .footer-site .footer-site__social-media-list {
    display: flex;
    flex-direction: column;
    gap: 1rem; }
    .footer-site .footer-site__social-media-list ul {
      display: flex;
      flex-direction: row;
      column-gap: 24px; }
      .footer-site .footer-site__social-media-list ul a {
        display: block;
        width: 16px;
        height: 27px; }
  .footer-site .icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1rem; }
  .footer-site .icon-facebook {
    background-image: url("../images/icon-facebook.svg"); }
  .footer-site .icon-youtube {
    background-image: url("../images/icon-youtube.svg"); }
  .footer-site .icon-twitter {
    background-image: url("../images/icon-twitter.svg"); }
  .footer-site .icon-pinterest {
    background-image: url("../images/icon-pinterest.svg"); }
  .footer-site .icon-instagram {
    background-image: url("../images/icon-instagram.svg"); }

.footer-site__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem; }

.sitemap ul {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.foot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; }

@media (min-width: 1000px) {
  .footer-site__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
  .footer-site .footer-site__social-media-list {
    justify-content: space-between;
    gap: 3rem; }
  .footer-site .sitemap ul {
    display: block;
    columns: 2;
    text-align: left; }
    .footer-site .sitemap ul li {
      margin-bottom: 1rem; }
  .footer-site .foot {
    gap: 2rem; } }

.a11y {
  display: none;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; }
